@import "variables.css";
  
*
{
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
  box-sizing: border-box;
}

body
 {
  background: var(--body-bg-color)
 }

a, svg
{
  transition: 0.4s;
}
   
